/* This is where styles are defined for your page. */
/* One style is provided as example. */

html { font-family: arial;
 }
h1 {
    color: purple;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;
    padding-top: .5cm;
    text-align: center;
}
h2 {
    color: purple;
    letter-spacing: 2px;
    text-align: center;
}
body {
    background: pink;
}
li {
    list-style-type: circle;
    margin-left: 10px;
}
p {
  text-align: center;
}






